@import url(//db.onlinewebfonts.com/c/2e6ae3642c879522873a28ede1eaac69?family=Helvetica+Neue+W23+for+SKY+Reg);
@font-face {
  font-family: "Helvetica Neue W23 for SKY Reg";
  src: url("//db.onlinewebfonts.com/t/2e6ae3642c879522873a28ede1eaac69.eot");
  src: url("//db.onlinewebfonts.com/t/2e6ae3642c879522873a28ede1eaac69.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2e6ae3642c879522873a28ede1eaac69.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/2e6ae3642c879522873a28ede1eaac69.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/2e6ae3642c879522873a28ede1eaac69.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/2e6ae3642c879522873a28ede1eaac69.svg#Helvetica Neue W23 for SKY Reg")
      format("svg");
}
body {
  font-family: "Helvetica Neue W23 for SKY Reg";
  padding-top: 55px;
  counter-reset: section;

}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}

::-webkit-scrollbar-thumb {
  background: #51c3f8;

}

::-webkit-scrollbar-track {
  background: #fff;
}

.open-events-modal {
  background: #fff;
  padding: .5rem;
  border-radius: .25rem;
  cursor: pointer;
}

._modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000087;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
}

._modal  .events {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media(min-width: 991px) {
  ._modal .events {
    grid-template-columns: 1fr 1fr;
  }
}
.events-page {
  overflow: hidden;
  max-height: 80%;
  width: 80%;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 2px 4px #0005;
}
@media (max-width: 767px) {
  .events-page {
    overflow: hidden;
    height: 90%;
    width: 90%;
    max-height: unset;
  }
}
.events-page h2 {
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 7px 2px #9c27b0;
  background: #f3f2f2;
  padding: 0.5rem;
}
ul.events.text-center {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  list-style: none;
}

.calender-picker.close-calender {
  display: none;
}
.hide,
.modal-events.close {
  pointer-events: none;
  opacity: 0;
}

.navbar {
  height: 56px;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  width: 100%;
}

.navbar-dark .navbar-nav .nav-item {
  margin-bottom: .5rem
}
.navbar-dark .navbar-nav .nav-item:hover > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
  border-left: 4px solid aliceblue;
  background: #fff5;
}
.navbar .container,
footer .container {
  position: relative;
  /* max-width: 900px !important; */
}
div#collapsibleNavId {
  position: fixed;
  top: 56px;
  left: -200px;
  min-height: 100vh;
  width: 200px;
  background: rgb(13 110 253);
  z-index: 99;
  padding: 1rem;
  text-align: center;
  transition: left 0.2s ease-in-out;
}
div#collapsibleNavId.show {
  left: 0px;
}
button.navbar-toggler {
  padding: 0.75rem;
}
button.navbar-toggler[aria-expanded="true"] {
  background: #fff;
  color: #888;
}

.visitors {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 1rem auto;
  background: #151515;
  border-radius: 0.25rem;
  width: fit-content;
}
.counter-item {
  background: #222;
  padding: 0 0.5rem;
  height: 20px;
  border-radius: 0.25rem;
  color: #fff;
  position: relative;
}
.counter-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #33333333;
  content: "";
}
.no-scroll {
  padding-right: 8px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .no-scroll {
    padding-right: unset;
  }
}

.skelton:empty {
  max-width: 90px !important;
  display: block;
  height: 20px;
  background: #eee;
  margin: 0 auto;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}

.skelton:empty::before {
  content: "";
  position: absolute;
  top: -70px;
  left: -10%;
  width: 50%;
  height: 120px;
  transform: skewY(10deg);
  background: #e1ecf5;
  animation: move 1s linear infinite;
  animation-delay: 0.8s;
}
@keyframes move {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}

.events-item {
  font-size: 1rem;
  padding: 0.5rem;
  height: fit-content;
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  background: #efefefc7;
}
.events-item h4 {
  text-align: right;
  font-size: 1.3rem;
  margin: 0;
  padding-top: 0.75rem;
  padding-right: 0.5rem;
  color: #222;
}
.events-item p {
  margin: 0;
  margin-top: 1rem;
  background: #e5e3e373;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-top: 1px solid #ccc5;
}
.events-item .timerDays {
  position: absolute;
  top: 8px;
  left: 0;
  padding: 0.5rem;
  background: #ff9800;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 0.8rem;
}
.events-item .timerDays.completed {
  background: #9e9e9e;
  color: #f3efef;
}

.events-item.__counter {
  padding-right: 40px;
}
.__counter:before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #efefef;
  color: #484545;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 1.5rem;
  border: 1px solid #ccc8;
}


#timeNow.border-ex {
  border-color: #4caf50;
}
#timeNow.border-good {
  border-color: #2196f3;
}
#timeNow.border-normal {
  border-color: #9e9e9e;
}
#timeNow.border-bad {
  border-color: #f44336;
}
.status-ex {
  background-color: #4caf50;
  color: #fff;
}
.status-good {
  background-color: #2196f3;
  color: #fff;
}
.status-normal {
  background-color: #9e9e9e;
  color: #fff;
}
.status-bad {
  background-color: #f44336;
  color: #fff;
}